@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

:root {
  /* Light Mode (Default) */
  --background: #ffffff;
  --foreground: #000000;

  --card: #ffffff;
  --card-foreground: #000000;

  --popover: #ffffff;
  --popover-foreground: #000000;

  --primary: #000000;
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #f4f4f5;
  --accent-foreground: #18181b;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #18181b;
}

.dark {
  /* Dark Mode */
  --background: #000000;
  --foreground: #ffffff;

  --card: #09090b;
  --card-foreground: #ffffff;

  --popover: #09090b;
  --popover-foreground: #ffffff;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --secondary: #27272a;
  --secondary-foreground: #fafafa;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #27272a;
  --accent-foreground: #fafafa;

  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;

  --border: #27272a;
  --input: #27272a;
  --ring: #d4d4d8;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .rounded-custom {
    @apply rounded-xl;
  }
}
